In [1]:
import pandas as pd

In [2]:
# Read in most recent dataset
data_2021_08 = pd.read_csv("CyclsiticData/202108-divvy-tripdata.csv")

In [3]:
# Output the head to see the column names
data_2021_08.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member

In [4]:
# Read in the oldest relavent data
data_2020_09 = pd.read_csv("CyclsiticData/202009-divvy-tripdata.csv")

In [5]:
# Output head to compare column names
data_2020_09.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2B22BD5F95FB2629,electric_bike,2020-09-17 14:27:11,2020-09-17 14:44:24,Michigan Ave & Lake St,52.0,Green St & Randolph St,112.0,41.886692,-87.623561,41.883570,-87.648731,casual
1,A7FB70B4AFC6CAF2,electric_bike,2020-09-17 15:07:31,2020-09-17 15:07:45,W Oakdale Ave & N Broadway,NaN,W Oakdale Ave & N Broadway,NaN,41.940000,-87.640000,41.940000,-87.640000,casual
2,86057FA01BAC778E,electric_bike,2020-09-17 15:09:04,2020-09-17 15:09:35,W Oakdale Ave & N Broadway,NaN,W Oakdale Ave & N Broadway,NaN,41.940000,-87.640000,41.940000,-87.640000,casual
3,57F6DC9A153DB98C,electric_bike,2020-09-17 18:10:46,2020-09-17 18:35:49,Ashland Ave & Belle Plaine Ave,246.0,Montrose Harbor,249.0,41.956060,-87.668916,41.963985,-87.638216,casual
4,B9C4712F78C1AE68,electric_bike,2020-09-17 15:16:13,2020-09-17 15:52:55,Fairbanks Ct & Grand Ave,24.0,Fairbanks Ct & Grand Ave,24.0,41.891860,-87.621008,41.891346,-87.620325,casual

In [6]:
# I want to combine all the relavent datasets into one more comprehensive dataset

In [7]:
# Read in all months:
data_2020_10 = pd.read_csv("CyclsiticData/202010-divvy-tripdata.csv")
data_2020_11 = pd.read_csv("CyclsiticData/202011-divvy-tripdata.csv")
data_2020_12 = pd.read_csv("CyclsiticData/202012-divvy-tripdata.csv")
data_2021_01 = pd.read_csv("CyclsiticData/202101-divvy-tripdata.csv")
data_2021_02 = pd.read_csv("CyclsiticData/202102-divvy-tripdata.csv")
data_2021_03 = pd.read_csv("CyclsiticData/202103-divvy-tripdata.csv")
data_2021_04 = pd.read_csv("CyclsiticData/202104-divvy-tripdata.csv")
data_2021_05 = pd.read_csv("CyclsiticData/202105-divvy-tripdata.csv")
data_2021_06 = pd.read_csv("CyclsiticData/202106-divvy-tripdata.csv")
data_2021_07 = pd.read_csv("CyclsiticData/202107-divvy-tripdata.csv")

In [8]:
# Combine all datasets together into cyclstic_data (This data is frome 09-2020 to 08-2021)
frames = [data_2020_09, data_2020_10, data_2020_11, data_2020_12, data_2021_01, data_2021_02, data_2021_03, data_2021_04, data_2021_05, data_2021_06, data_2021_07, data_2021_08]
cyclstic_data = pd.concat(frames)

In [9]:
# Begin cleaning data

In [10]:
# remove any duplicates:

# This returns any duplicates in the dataframe... you can see by the result none exist...
cyclstic_data[cyclstic_data.duplicated(keep = False)]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [11]:
# determine size of dataframe
cyclstic_data.shape[0]

4913072

In [12]:
# determine size not including nans
cyclstic_data.count()

ride_id               4913072
rideable_type         4913072
started_at            4913072
ended_at              4913072
start_station_name    4463027
start_station_id      4462501
end_station_name      4421692
end_station_id        4421308
start_lat             4913072
start_lng             4913072
end_lat               4908057
end_lng               4908057
member_casual         4913072
dtype: int64

In [13]:
# Remove all rows with a nan (we have enough data that we dont need to worry about this)
cyclstic_data = cyclstic_data.dropna()
cyclstic_data = cyclstic_data.reset_index(drop=True)

In [14]:
# Redetermine size
cyclstic_data.count()

ride_id               4233298
rideable_type         4233298
started_at            4233298
ended_at              4233298
start_station_name    4233298
start_station_id      4233298
end_station_name      4233298
end_station_id        4233298
start_lat             4233298
start_lng             4233298
end_lat               4233298
end_lng               4233298
member_casual         4233298
dtype: int64

In [15]:
# Verify the HQ QR case for start station (Bikes that were removed for service case)
cyclstic_data[cyclstic_data.start_station_name == "HQ QR"]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [16]:
# The HQ QR case was not found it appears the datasets have been updated since the R script was created

In [17]:
# Now lets create a dataframe with only the columns we want 
clean_cyclstic = cyclstic_data[['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']].copy()

In [18]:
# Verify Change
clean_cyclstic.head()

,ride_id,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual
0,2B22BD5F95FB2629,electric_bike,2020-09-17 14:27:11,2020-09-17 14:44:24,41.886692,-87.623561,41.883570,-87.648731,casual
1,57F6DC9A153DB98C,electric_bike,2020-09-17 18:10:46,2020-09-17 18:35:49,41.956060,-87.668916,41.963985,-87.638216,casual
2,B9C4712F78C1AE68,electric_bike,2020-09-17 15:16:13,2020-09-17 15:52:55,41.891860,-87.621008,41.891346,-87.620325,casual
3,0CB5E2496B6F1DF8,electric_bike,2020-09-16 21:39:57,2020-09-16 21:53:44,41.906763,-87.635222,41.952771,-87.650024,casual
4,8A7CE19C3C3E0CA5,electric_bike,2020-09-16 22:58:41,2020-09-17 00:09:31,41.857901,-87.624654,41.857950,-87.624615,casual

In [19]:
# Rename columns for easier use
clean_cyclstic = clean_cyclstic.rename(columns = {'ride_id' : 'id', 'rideable_type' : 'bike_type', 'started_at' :'start_time', 'ended_at' : 'end_time',  'start_lng' : 'start_long', 'end_lng' : 'end_long', 'member_casual' : 'membership_type'})

# Verify Change
clean_cyclstic.head()

,id,bike_type,start_time,end_time,start_lat,start_long,end_lat,end_long,membership_type
0,2B22BD5F95FB2629,electric_bike,2020-09-17 14:27:11,2020-09-17 14:44:24,41.886692,-87.623561,41.883570,-87.648731,casual
1,57F6DC9A153DB98C,electric_bike,2020-09-17 18:10:46,2020-09-17 18:35:49,41.956060,-87.668916,41.963985,-87.638216,casual
2,B9C4712F78C1AE68,electric_bike,2020-09-17 15:16:13,2020-09-17 15:52:55,41.891860,-87.621008,41.891346,-87.620325,casual
3,0CB5E2496B6F1DF8,electric_bike,2020-09-16 21:39:57,2020-09-16 21:53:44,41.906763,-87.635222,41.952771,-87.650024,casual
4,8A7CE19C3C3E0CA5,electric_bike,2020-09-16 22:58:41,2020-09-17 00:09:31,41.857901,-87.624654,41.857950,-87.624615,casual

In [20]:
# Check datatype for each column
clean_cyclstic.dtypes

id                  object
bike_type           object
start_time          object
end_time            object
start_lat          float64
start_long         float64
end_lat            float64
end_long           float64
membership_type     object
dtype: object

In [21]:
# Cast datatypes stat and end times as dates

In [22]:
clean_cyclstic['start_time'] = clean_cyclstic['start_time'].astype('datetime64[ns]')
clean_cyclstic['end_time'] = clean_cyclstic['end_time'].astype('datetime64[ns]')
clean_cyclstic.dtypes

id                         object
bike_type                  object
start_time         datetime64[ns]
end_time           datetime64[ns]
start_lat                 float64
start_long                float64
end_lat                   float64
end_long                  float64
membership_type            object
dtype: object

In [23]:
# make sure membership naming conventions are correct.
clean_cyclstic['membership_type'].unique()

array(['casual', 'member'], dtype=object)

In [24]:
# Create a new column with trip time named trip_time
clean_cyclstic["trip_time"] = clean_cyclstic["end_time"] - clean_cyclstic["start_time"]
clean_cyclstic.shape[0]

4233298

In [25]:
# check for negative time values
# use pd.Timedelta(0) because just 0 is an interger and throws and error
clean_cyclstic[clean_cyclstic['trip_time'] < pd.Timedelta(0)]

,id,bike_type,start_time,end_time,start_lat,start_long,end_lat,end_long,membership_type,trip_time
9997,1F7A089EE71EABAF,electric_bike,2020-09-05 16:11:11,2020-09-05 16:11:10,41.867246,-87.615307,41.867248,-87.615314,casual,-1 days +23:59:59
12392,2127EB98ED316FB2,electric_bike,2020-09-24 12:25:28,2020-09-24 12:25:27,41.894765,-87.730845,41.894767,-87.730858,casual,-1 days +23:59:59
16400,28E8822BE101E2F7,electric_bike,2020-09-03 12:20:02,2020-09-03 12:20:01,41.894683,-87.730900,41.894689,-87.730906,casual,-1 days +23:59:59
23794,30754D787851A9D2,electric_bike,2020-09-09 09:22:37,2020-09-09 09:22:36,41.894707,-87.730837,41.894717,-87.730907,casual,-1 days +23:59:59
24173,6A1A0B9F1CC477D5,docked_bike,2020-09-23 19:27:16,2020-09-23 19:27:15,41.898203,-87.637536,41.904613,-87.640552,member,-1 days +23:59:59
...,...,...,...,...,...,...,...,...,...,...
3864910,FB0519FF5907CACC,classic_bike,2021-08-30 12:03:08,2021-08-30 12:03:00,41.919936,-87.648830,41.919936,-87.648830,member,-1 days +23:59:52
3864914,23D6456F1268AF00,classic_bike,2021-08-21 12:29:12,2021-08-21 12:29:07,41.919936,-87.648830,41.919936,-87.648830,member,-1 days +23:59:55
3988634,E64AE57BDD6FE595,classic_bike,2021-08-20 16:10:14,2021-08-20 16:09:29,41.890762,-87.631697,41.890762,-87.631697,member,-1 days +23:59:15
4065220,9200647C37FD38B0,classic_bike,2021-08-20 16:16:58,2021-08-20 16:14:11,41.949399,-87.654529,41.949399,-87.654529,member,-1 days +23:57:13
4118066,3CFA7D4B92C4FDD6,classic_bike,2021-08-20 16:22:07,2021-08-20 16:21:30,41.912616,-87.681391,41.912616,-87.681391,casual,-1 days +23:59:23

In [26]:
# remove all rows with a negative time
clean_cyclstic = clean_cyclstic[clean_cyclstic['trip_time'] > pd.Timedelta(0)]
clean_cyclstic.shape[0]

4227857

In [27]:
clean_cyclstic[clean_cyclstic['trip_time'] > pd.Timedelta(0)]

,id,bike_type,start_time,end_time,start_lat,start_long,end_lat,end_long,membership_type,trip_time
0,2B22BD5F95FB2629,electric_bike,2020-09-17 14:27:11,2020-09-17 14:44:24,41.886692,-87.623561,41.883570,-87.648731,casual,0 days 00:17:13
1,57F6DC9A153DB98C,electric_bike,2020-09-17 18:10:46,2020-09-17 18:35:49,41.956060,-87.668916,41.963985,-87.638216,casual,0 days 00:25:03
2,B9C4712F78C1AE68,electric_bike,2020-09-17 15:16:13,2020-09-17 15:52:55,41.891860,-87.621008,41.891346,-87.620325,casual,0 days 00:36:42
3,0CB5E2496B6F1DF8,electric_bike,2020-09-16 21:39:57,2020-09-16 21:53:44,41.906763,-87.635222,41.952771,-87.650024,casual,0 days 00:13:47
4,8A7CE19C3C3E0CA5,electric_bike,2020-09-16 22:58:41,2020-09-17 00:09:31,41.857901,-87.624654,41.857950,-87.624615,casual,0 days 01:10:50
...,...,...,...,...,...,...,...,...,...,...
4233293,5E5C9CD681E0419C,classic_bike,2021-08-07 18:07:43,2021-08-07 18:21:21,41.906724,-87.634830,41.932225,-87.658617,member,0 days 00:13:38
4233294,96FB57CF4AA456F6,electric_bike,2021-08-09 08:49:31,2021-08-09 09:03:51,41.952709,-87.649940,41.915973,-87.634762,member,0 days 00:14:20
4233295,226A0910DCCE904C,classic_bike,2021-08-12 16:55:57,2021-08-12 17:15:10,41.879356,-87.629791,41.915689,-87.634600,member,0 days 00:19:13
4233296,1A97D27AE23DE1E7,classic_bike,2021-08-08 22:47:43,2021-08-08 23:08:12,41.952833,-87.649993,41.973348,-87.667855,casual,0 days 00:20:29
4233297,BBC36E4AA3652361,electric_bike,2021-08-27 18:53:53,2021-08-27 19:02:16,41.909851,-87.669808,41.910674,-87.649547,casual,0 days 00:08:23

In [28]:
# lets create a distance function... this is the distance function in its proper form
import math

#def distance(lat1, lon1, lat2, lon2):
#    radius = 6371 # km
#
#    dlat = math.radians(lat2-lat1)
#    dlon = math.radians(lon2-lon1)
#    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
#        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
#    
#    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
#    d = radius * c

#    return d

In [29]:
# create distance column distance_km

clean_cyclstic["distance_km"] = ""

# this is a convoluted way to implement a nice simple function in a way that is time effective
tempdf = clean_cyclstic[['start_lat', 'start_long', 'end_lat', 'end_long']].copy()

tempdf['lat'] = tempdf['end_lat'] - tempdf['start_lat']
tempdf['lon'] = tempdf['end_long'] - tempdf['start_long']

tempdf['dlat'] = tempdf['lat'].astype(float).apply(math.radians)
tempdf['dlon'] = tempdf['lat'].astype(float).apply(math.radians)

tempdf['a'] = tempdf['dlat'].astype(float).div(2).apply(math.sin) * tempdf['dlat'].astype(float).div(2).apply(math.sin) + tempdf['start_lat'].astype(float).apply(math.radians).apply(math.cos) * tempdf['end_lat'].astype(float).apply(math.radians).apply(math.cos) * tempdf['dlon'].astype(float).div(2).apply(math.sin) * tempdf['dlon'].astype(float).div(2).apply(math.sin)
tempdf['one_minus_a'] = 1 - tempdf['a']
tempdf['y/x'] = tempdf['a'].astype(float).apply(math.sqrt) / tempdf['one_minus_a'].astype(float).apply(math.sqrt)
tempdf['c'] = tempdf['y/x'].astype(float).apply(math.atan)
radius = 6371
tempdf['d'] = radius * tempdf['c']
clean_cyclstic['distance_km'] = tempdf['d']

In [30]:
clean_cyclstic.head()

,id,bike_type,start_time,end_time,start_lat,start_long,end_lat,end_long,membership_type,trip_time,distance_km
0,2B22BD5F95FB2629,electric_bike,2020-09-17 14:27:11,2020-09-17 14:44:24,41.886692,-87.623561,41.883570,-87.648731,casual,0 days 00:17:13,0.216385
1,57F6DC9A153DB98C,electric_bike,2020-09-17 18:10:46,2020-09-17 18:35:49,41.956060,-87.668916,41.963985,-87.638216,casual,0 days 00:25:03,0.549032
2,B9C4712F78C1AE68,electric_bike,2020-09-17 15:16:13,2020-09-17 15:52:55,41.891860,-87.621008,41.891346,-87.620325,casual,0 days 00:36:42,0.035568
3,0CB5E2496B6F1DF8,electric_bike,2020-09-16 21:39:57,2020-09-16 21:53:44,41.906763,-87.635222,41.952771,-87.650024,casual,0 days 00:13:47,3.188171
4,8A7CE19C3C3E0CA5,electric_bike,2020-09-16 22:58:41,2020-09-17 00:09:31,41.857901,-87.624654,41.857950,-87.624615,casual,0 days 01:10:50,0.003385

In [31]:
# check for negative distances
clean_cyclstic[clean_cyclstic['distance_km'] < 0]

Empty DataFrame
Columns: [id, bike_type, start_time, end_time, start_lat, start_long, end_lat, end_long, membership_type, trip_time, distance_km]
Index: []

In [32]:
# create a day of the week column called week_day
clean_cyclstic['week_day'] = clean_cyclstic['start_time'].dt.day_name()

# create a month coumn called month
clean_cyclstic['month'] = clean_cyclstic['start_time'].dt.month_name()
clean_cyclstic.head()

,id,bike_type,start_time,end_time,start_lat,start_long,end_lat,end_long,membership_type,trip_time,distance_km,week_day,month
0,2B22BD5F95FB2629,electric_bike,2020-09-17 14:27:11,2020-09-17 14:44:24,41.886692,-87.623561,41.883570,-87.648731,casual,0 days 00:17:13,0.216385,Thursday,September
1,57F6DC9A153DB98C,electric_bike,2020-09-17 18:10:46,2020-09-17 18:35:49,41.956060,-87.668916,41.963985,-87.638216,casual,0 days 00:25:03,0.549032,Thursday,September
2,B9C4712F78C1AE68,electric_bike,2020-09-17 15:16:13,2020-09-17 15:52:55,41.891860,-87.621008,41.891346,-87.620325,casual,0 days 00:36:42,0.035568,Thursday,September
3,0CB5E2496B6F1DF8,electric_bike,2020-09-16 21:39:57,2020-09-16 21:53:44,41.906763,-87.635222,41.952771,-87.650024,casual,0 days 00:13:47,3.188171,Wednesday,September
4,8A7CE19C3C3E0CA5,electric_bike,2020-09-16 22:58:41,2020-09-17 00:09:31,41.857901,-87.624654,41.857950,-87.624615,casual,0 days 01:10:50,0.003385,Wednesday,September

In [33]:
# need to clean out some outliers from trip time which I'm going to say is any trip less than 1 minute or any trip over 1 day
# the outliers are probably indicative of someone changing their mind before the trip starts or someone forgetting to return their bike
clean_cyclstic = clean_cyclstic[clean_cyclstic['trip_time'] > pd.Timedelta(1,unit='min')]
clean_cyclstic = clean_cyclstic[clean_cyclstic['trip_time'] < pd.Timedelta(1,unit='d')]
clean_cyclstic.shape[0]

4170819

In [34]:
# get mean, median on trip_time based on membership_type

trip_mean = clean_cyclstic.groupby('membership_type')['trip_time'].mean(numeric_only=False)
trip_median = clean_cyclstic.groupby('membership_type')['trip_time'].median(numeric_only=False)

print('mean: ', trip_mean)
print('median: ', trip_median)

mean:  membership_type
casual   0 days 00:30:08.170673311
member   0 days 00:14:04.055941500
Name: trip_time, dtype: timedelta64[ns]
median:  membership_type
casual   0 days 00:17:54
member   0 days 00:10:26
Name: trip_time, dtype: timedelta64[ns]

In [35]:
# get mean, median, max, min on distance_km based on membership_type

distance_mean = clean_cyclstic.groupby('membership_type')['distance_km'].mean()
distance_median = clean_cyclstic.groupby('membership_type')['distance_km'].median()
distance_max = clean_cyclstic.groupby('membership_type')['distance_km'].max()
distance_min = clean_cyclstic.groupby('membership_type')['distance_km'].min()

print('mean: ', distance_mean)
print('median: ', distance_median)
print('max: ', distance_max)
print('min: ', distance_min)

mean:  membership_type
casual    1.061379
member    1.030021
Name: distance_km, dtype: float64
median:  membership_type
casual    0.728819
member    0.671457
Name: distance_km, dtype: float64
max:  membership_type
casual    21.046279
member    28.863306
Name: distance_km, dtype: float64
min:  membership_type
casual    0.0
member    0.0
Name: distance_km, dtype: float64

In [36]:
# calculate the % of each rider type

#percentage =  clean_cyclstic.groupby('membership_type').transform('sum')/ clean_cyclstic.shape[0]
#print(percentage)

In [ ]:
# with the math calculations done I think it will be easier to analyze using visuals in tableau...
# the commented out command is taking forever to run but would be easy to visualize

In [ ]:
# Export clean_cyclstic dataset to use in tableau
clean_cyclstic.to_csv('clean_cyclstic.csv', index=False)